.home {
  width: 100%;
  height: calc(100vh - 60px);
  background: linear-gradient(40deg, #fbc8fb, #b6dbff);
  text-align: center;
  color: dodgerblue;
  display: flex;
  place-items: center;
  font-size: 4vw;

}

.home h2{
  margin: 0 auto;
}

